:root {

  /*
    https://medium.com/@adrjohnston/native-css-mixins-ee2a50e07b54
    color: #f5f5f5;*/
}

/* reset */
* {
  margin: 0;
}

/*
@media query orirentation : potrait or landscape;
 */

html:not([lang]),
html[lang=""] {
  border-top: 20px solid red;
}

html:not([lang]),html[lang=""] { border-top: 20px solid red; }
img:not([alt]),img[alt=""] { border: 5px dashed red; }
canvas:not([role]),canvas:not([aria-label]),canvas[role=""],canvas[aria-label=""] { border: 5px dashed red; }


/*
html
moz-osx-font-smoothing: auto;

body
font-variant-ligatures: normal;
font-kerning: normal;
*/
html {
  /*background: #ffffff;*/
}

body {
  margin: 0;

  background-color: black;
  background-image: url("christopher-farrugia-B1BZ_Bz-I8c-unsplash.jpg");
  /* background-attachment: fixed;*/

  position: relative;
  color: #ffffff;
  overflow-x: hidden;
}

.ruler {
  position: fixed;
  height: 100vh;
  width: 50px;
  background-color: hsla(0deg,0%,0%,0.5);
  z-index: 101;
}

.ruler::before,
.ruler::after {
  content: '320px';
  background-color: hsl(0, 0%, 100%);
  height: 1px;
  width: 100px;
  position: fixed;
  top: 320px;
}
.ruler::after {
  content: '192px';
  top: 192px;
}

header {
  color: #010101;
  height: 200px;
  position: fixed;
  width: 100%;
  z-index: 100;
  left: 100px;
  transition: 500ms height;
}
/* You can add any change you want, just make sure the property is all above and you add the transition */
header.small {
  height: 100px;
}

h2 {
  margin-bottom: 20px
}

main {
  width: calc(100vw - 150px);
  position: relative;
  top: 250px;
  left: 100px;
  height: 1000px;
  border-block-start: 1px solid black;
  /*width: 80%;*
  /*overflow-y: scroll;
  overflow-x: hidden;
  min-height: 200vh;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}
.inside-main {
  background: hsla(0, 5%, 15%, 0.8);
  height: auto;
  margin-bottom: 2em;
  padding: 10px;
}

#one {
  margin-top: 70px;
}

/*
#three {
  opacity: 0;
  transform: translateX(-100vw);
  transition: opacity 2s, transform 2s;
}

#three.three {
  opacity: 1;
  transform: translateX(0);
}

#four {
  opacity: 0;
  transform: translateX(100vw);
  transition: opacity 2s, transform 2s;
}

#four.four {
  opacity: 1;
  transform: translateX(0);
}
*/
ul {
  list-style: none;
  padding: 20px;
}

